@import 'variables.scss';

.landing {
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
  
    .background {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: $farm-bg-4;
      background-size: cover;
      background-position: center;
      filter: blur(0.5px);
      z-index: -1; /* Ensures the background stays behind other content */

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(135deg, transparent 0%, $primary-bg 100%);
        // backdrop-filter: blur(10px);
        pointer-events: none;
      }
    }
  
    .flex-center {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      width: 100vw;
      position: relative;
      z-index: 1;
  
      .center-piece {
        text-align: center;
        border: 1px solid rgba(255, 255, 255, 0);
        // box-shadow: $primary-bg -5px 5px, $primary-bg -10px 10px, $primary-bg -15px 15px, rgba(0, 104, 21, 0.09) -25px 25px;
        padding: 20px;
        height: 300px;
        width: 300px;
        border-radius: 50%;
        background-image: $farm-bg-5;
        background-size: cover;
        background-position: center;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(135deg, transparent 0%, rgba(0, 0, 0, 0.8) 100%);
            pointer-events: none;
          }
  
        p {
          font-size: 2rem;
          color: black;
          z-index: 1;
          margin-top: -1.5rem;
          padding: 0.2rem 0;
          text-align: center;
          border: 1px solid black;
          background-color: $signin-col-1;
          font-family:Verdana, Geneva, Tahoma, sans-serif
        }
  
        img {
          width: 200px;
          z-index: -1;
          margin-bottom: 0;
          background-color: $signin-col-1;
          border-radius: 50%;
          padding: 0;
          border-top: 1px solid black;
          
        }
      }
    }
  
    .pos-rel {
      position: relative;
  
      p {
        width: 200px;
        height: 200px;
        padding: 0;
        text-align: center;
        vertical-align: middle;
        box-sizing: border-box;
      }
    }
  
    .sign-up {
      top: 30%;
      left: 5%;
      position: absolute;
    }
  
    .login {
      top: -50%;
      left: 50%;
      position: absolute;
    }
  }
  
  .bub {
    border: 1px solid red;
    padding: 50px;
    width: 200px;
    height: 200px;
    border-radius: 150px;
    text-align: center;
  }
  