@import 'variables.scss';

@mixin ambit-regular{
    @font-face {
        font-family: $ambit-normal;
        src: url(../assets/ambit/Ambit-Regular.otf);
    }
}

@mixin ambit-bold{
    @font-face {
        font-family: $ambit-bold;
        src: url(../assets/ambit/Ambit-Bold.otf);
    }
}

@mixin ambit-black{
    @font-face {
        font-family: $ambit-black;
        src: url(../assets/ambit/Ambit-Black.otf);
    }
}

@mixin ambit-thin{
    @font-face {
        font-family: $ambit-thin;
        src: url(../assets/ambit/Ambit-Thin.otf);
    }
}