//COLOUR SCHEME
$signin-col-1: #9bc48c;
$primary-bg: #314230;
$primary-col: #8ba17f;
$secondary-col: #18332f;
$tetiary-col: #d6d2c4;
$darker-primary: #002a30;

//BACKGROUND IMAGE SCHEME
$farm-bg: url('../assets/img/farmland.jpeg');
$farm-bg-2: url('../assets/img/woman-holding-basket-full-different-vegetables.jpg');
$farm-bg-3: url('../assets/img/harvesting-wheat.jpg');
$farm-bg-4: url('../assets/img/beautiful-strawberry-garden.jpg');
$farm-bg-5: url('../assets/img/high-angle-farmland-view.jpg');


//SIZE SCHEME

//FONT SCHEME
$ambit-normal: 'AmbitNormal';
$ambit-bold: 'AmbitBold';
$ambit-thin: 'AmbitThin';
$ambit-black: 'AmbitBlack';

//SPACING SCHEME

// text-align: center;
// min-height: 100vh;
// min-width: 100vw;
// background-image: url('/public/img/alien-planet-bro.png');